@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-main: 28 25 23; /* stone-900 */
    --color-bg-main: 253 252 248; /* 더 밝은 크림빛 아이보리 */
    --color-bg-muted: 255 255 255; /* pure white */
    --color-border-main: 28 25 23; /* stone-900 */
  }
  html.dark {
    --color-text-main: 245 245 244; /* stone-100 */
    --color-bg-main: 28 25 23; /* stone-900 */
    --color-bg-muted: 41 37 36; /* stone-800 */
    --color-border-main: 245 245 244; /* stone-100 */
  }

  /* Cyan */
  /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

  /* Green */
  /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
