---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const rootPath = pathname === '/' ? '/' : pathname.split('/')[1];
const currentHref = href === '/' ? '/' : href?.toString().split('/')[1];

const isActive =
  currentHref === rootPath || currentHref === rootPath.replace(/\/$/, '');
---

<a
  class:list={[
    className,
    'border-b-2 pb-0.5',
    {
      'border-stone-400': isActive,
      'border-transparent hover:border-stone-400': !isActive,
    },
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
