---
import { GithubSVG } from './Github';

type Props = { totalPosts: number; year: number; month: number };

const { totalPosts, year, month } = Astro.props;
---

<section class="flex h-[308px] flex-col gap-11 rounded-lg bg-white p-5 shadow">
  <div>
    <span class="text-gray-400">정리</span>
    <div class="mt-7 flex flex-row">
      <div class="flex flex-col justify-end gap-2 text-black">
        <span class="text-sm">지금까지 기록한 날.</span>
        <span class="text-sm">기존 기록 공간.</span>
      </div>
      <div class="flex flex-col items-center gap-2 text-black">
        <span
          class="ml-8 underline decoration-sky-200 decoration-2 underline-offset-4"
          >{totalPosts} 일</span
        >
        <a
          href="https://github.com/sjuhan123/habit-morning"
          class="ml-8 hover:text-sky-400"
        >
          <GithubSVG width={20} height={20} />
        </a>
      </div>
    </div>
  </div>
  <div>
    <span class="text-gray-400">{year}년 {month}월 목표</span>
    <div class="mt-7 flex flex-row">
      <div class="flex flex-col justify-end gap-2 text-black">
        <span class="text-sm">기본 다지기와 Next.js 프로젝트</span>
      </div>
    </div>
  </div>
</section>
