---
interface Tag {
  name: string;
  slug: string;
  count: number;
}

interface Props {
  tags: Tag[];
  totalCount: number;
  currentTag?: string;
}

const { tags, totalCount, currentTag } = Astro.props;
const isAllActive = currentTag === undefined;
---

<div class="mb-12 flex flex-wrap gap-x-6 gap-y-2">
  <a
    class:list={[
      'flex items-center gap-2 border-b-2 pb-0.5',
      {
        'border-stone-400': isAllActive,
        'border-transparent hover:border-stone-400': !isAllActive,
      },
    ]}
    href="/blog"
  >
    <p class="font-serif text-sm font-medium leading-tight">
      전체 {totalCount}
    </p>
  </a>
  {
    tags.map((tag) => {
      const isActive = tag.slug === currentTag;
      return (
        <a
          class:list={[
            'flex items-center gap-2 border-b-2 pb-0.5',
            {
              'border-stone-400': isActive,
              'border-transparent hover:border-stone-400': !isActive,
            },
          ]}
          href={`/blog/${tag.slug}`}
        >
          <p class="font-serif text-sm font-medium leading-tight">
            {tag.name} {tag.count}
          </p>
        </a>
      );
    })
  }
</div>
